/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(244, 242, 237);
}

.hero {
  background-image: url("./assets/bg-hero.gif");
  background-size: cover;
}

.about {
  background-image: url("./assets/garrett-butler-eo3cppZxxCA-unsplash.jpg");
  background-size: cover;
}

.promo {
  background-image: url("./assets/brett-zeck-eyfMgGvo9PA-unsplash.jpg");
  background-size: cover;
}

.brandon {
  background-image: url("./assets/pfp-brandon.jpg");
  background-size: cover;
}

.logan {
  background-image: url("./assets/Logan.jpg");
  background-size: cover;
}

.mirjana {
  background-image: url("./assets/brett-zeck-eyfMgGvo9PA-unsplash.jpg");
  background-size: cover;
}

.hannah {
  background-image: url("./assets/brett-zeck-eyfMgGvo9PA-unsplash.jpg");
  background-size: cover;
}

.h-60vh {
  height: 60vh;
}

.directions {
  position: absolute;
  background: black;
  top: 1rem;
  right: 1rem;
  width: 25%;
  padding: 1rem;
}

#map {
  width: 100%;
  height: 75vh;
}

.marker {
  padding: 0.5rem;
  background: black;
  transition: all 0.3s ease-out;
  position: relative;
  width: 100px;
  border-radius: 5px;
}

.marker:after {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 0.75rem;
  opacity: 1;
}
.marker.highlight:after {
  opacity: 0;
  animation: fadeOut 0.5s;
}
.marker.raining:after {
  content: "🌧️";
}
.marker.cloudy:after {
  content: "⛅";
}
.marker.sunny:after {
  content: "☀️";
}

.marker h2 {
  margin: 0;
}
.marker p {
  margin: 0;
}

.highlight {
  width: 200px;
  color: white;
}
.highlight.raining {
  background: #457b9d;
}
.highlight.cloudy {
  background: #6d6875;
}
.highlight.sunny {
  background: #ffc300;
  color: black;
}

.login-page {
  background-color: #4988d6 !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.five-day {
  opacity: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  animation: fadeIn 1s;
}

.editing {
  position: absolute;
  padding: 1rem;
  top: 1rem;
  right: 1rem;
  width: 20%;
  min-width: 200px;
  background: black;
}

.editing label {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.25rem;
}

.editing input,
select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.editing button {
  padding: 0.5rem;
}
